In [1]:
import pandas as pd
import json
import datetime

In [2]:
df = pd.read_csv("data.csv", sep = "|")
rows = df.shape[0]
df

         LoanId                                     BankReportData
0  1.560824e+10  {"token":"21224ade-c8a3-428a-bcd3-4c10a4d8ce04...
1  8.557349e+10  {"token":"84e4a419-6eb5-440c-8f16-9f25fadb24fe...
2  5.462265e+10  {"token":"441b7992-7faf-4fd9-aca7-86fe08263d54...
3  4.362273e+10  {"token":"aec6c87f-702d-455e-8805-6901836390a2...
4  2.955281e+10  {"token":"cc5f1d06-cbde-420e-9d1a-2c5830d126f4...
5  1.161783e+10  {"token":"398c0a81-6596-4d4e-b823-70cad892ae3d...
6  1.858664e+10  {"token":"01efc495-721e-4b6a-b4e2-49db03ddeb11...
7  3.959471e+10  {"token":"d5c31894-0d6a-458d-8fff-3f1c68924610...
8  4.956049e+10  {"token":"25a1d2de-0fa1-4bcf-8e4b-222c253afa1d...
9  6.056821e+10  {"token":"65c8cbfd-f3eb-4f5c-a040-f674639aaae4...

In [3]:
# Parse JSON
def parse(data):
    j1 = json.loads(data)
    return j1

# Convert TimeStamp to DateTime
def convert_ts_dt(ts):
    date = datetime.datetime.fromtimestamp(ts / 1e3)
    return date

In [4]:
# Function 1 - Not dealing with missing values
def get_balances(LoanID, BankReport):
    """
    Function that takes LoanID and BankReport as arguments, and gives 5 lists: LoanID, AccountID,
    AccountNumber, BalanceOpen, BalanceClose - to populate into a DataFrame.
    """
    for account in parse(BankReport)['accounts']:
        if(account['accountType'] == "checking"):
            try:
                acc_id = int(account['accountId'])
                acc_number = account['accountNumber']
                df_temp = pd.DataFrame(account['transactions'])
                df_temp["postedDate"] = df_temp["postedDate"].apply(convert_ts_dt)
                df_temp.sort_values(by = "postedDate", inplace=True)
                open_bal = df_temp.head(1)['balance']; close_bal = df_temp.tail(1)['balance'];
                indexer = open_bal.index[0]; open_bal = open_bal.loc[indexer]; indexer = close_bal.index[0]; close_bal = close_bal.loc[indexer];
                bal_open.append(open_bal); bal_close.append(close_bal); loan_ids.append(int(LoanID));
                acc_ids.append(acc_id); acc_numbers.append(acc_number);
            except KeyError:
                pass
            finally:
                # print("\n---\n\nLoanID: {}, \nAccountID: {}, \nAccountNumber{}, \nBalanceOpen: {}, \nBalanceClose: {}".format(loan_ids, acc_ids, acc_numbers, bal_open, bal_close))
                pass

In [5]:
# Initialize the 5 lists to be used to create the DataFrame
bal_open = []; bal_close = []; loan_ids = []; acc_ids = []; acc_numbers = [];

# Function calls for all rows
for row_index in range(rows):
    get_balances(df["LoanId"][row_index], df["BankReportData"][row_index])

# Create DatFrame
df_final = pd.DataFrame({
    "Loan IDs": loan_ids, "Account ID": acc_ids, "Account Number": acc_numbers,
    "Balance open": bal_open, "Balance close": bal_close
})
df_final

,Loan IDs,Account ID,Account Number,Balance open,Balance close
0,15608236934,65239074,3282,1466.50,1.98
1,85573489369,24970916,CHK-X7776,395.11,84.85
2,54622654984,81771409,XXXXXX3790,0.00,-5.48
3,54622654984,81771407,XXXXXX9873,-37.04,0.00
4,54622654984,81771408,XXXXXX4263,1295.80,NaN
5,43622734737,82054983,XXXXXXXXX4807,413.98,396.73
6,29552813715,15283408,XXXXXX1512,144.76,197.36
7,11617830439,74476346,150606044,2625.57,17.65
8,18586643340,41823767,XXXXXX9629,421.47,5.29
9,18586643340,41823766,XXXXXX9116,1511.48,NaN
10,39594709060,49610095,BofA-Core-Checking---0598,66.06,NaN
11,39594709060,49610094,BofA-Core-Checking---0536,60.00,0.20
12,49560492845,18031520,XXXXXX7324,1533.60,1.76
13,60568207584,22147936,X5674,1413.78,-2.53
14,60568207584,22147938,X2283,42.22,0.00

## Checking for NaNs and removing them whenever they're encountered in the `balance` column.

In [6]:
# Function 2 - Dealing with missing values
def get_balances_remove_nans(LoanID, BankReport):
    """
    Function that takes LoanID and BankReport as arguments, and gives 5 lists: LoanID, AccountID,
    AccountNumber, BalanceOpen, BalanceClose - to populate into a DataFrame.
    """
    for account in parse(BankReport)['accounts']:
        if(account['accountType'] == "checking"):
            try:
                acc_id = int(account['accountId'])
                acc_number = account['accountNumber']
                df_temp = pd.DataFrame(account['transactions'])
                df_temp["postedDate"] = df_temp["postedDate"].apply(convert_ts_dt)
                df_temp.sort_values(by = "postedDate", inplace=True)
                open_bal = df_temp['balance'].dropna().head(1); close_bal = df_temp['balance'].dropna().tail(1); # The change
                indexer = open_bal.index[0]; open_bal = open_bal.loc[indexer]; indexer = close_bal.index[0]; close_bal = close_bal.loc[indexer];
                bal_open.append(open_bal); bal_close.append(close_bal); loan_ids.append(int(LoanID));
                acc_ids.append(acc_id); acc_numbers.append(acc_number);
            except KeyError:
                pass
            finally:
                # print("\n---\n\nLoanID: {}, \nAccountID: {}, \nAccountNumber{}, \nBalanceOpen: {}, \nBalanceClose: {}".format(loan_ids, acc_ids, acc_numbers, bal_open, bal_close))
                pass

In [7]:
# Initialize the 5 lists to be used to create the DataFrame
bal_open = []; bal_close = []; loan_ids = []; acc_ids = []; acc_numbers = [];

# Function calls for all rows
for row_index in range(rows):
    get_balances_remove_nans(df["LoanId"][row_index], df["BankReportData"][row_index])

# Create DatFrame
df_final_remove_nans = pd.DataFrame({
    "Loan IDs": loan_ids, "Account ID": acc_ids, "Account Number": acc_numbers,
    "Balance open": bal_open, "Balance close": bal_close
})
df_final_remove_nans

,Loan IDs,Account ID,Account Number,Balance open,Balance close
0,15608236934,65239074,3282,1466.50,1.98
1,85573489369,24970916,CHK-X7776,395.11,84.85
2,54622654984,81771409,XXXXXX3790,0.00,-5.48
3,54622654984,81771407,XXXXXX9873,-37.04,0.00
4,54622654984,81771408,XXXXXX4263,1295.80,-107.98
5,43622734737,82054983,XXXXXXXXX4807,413.98,396.73
6,29552813715,15283408,XXXXXX1512,144.76,197.36
7,11617830439,74476346,150606044,2625.57,17.65
8,18586643340,41823767,XXXXXX9629,421.47,5.29
9,18586643340,41823766,XXXXXX9116,1511.48,1806.54
10,39594709060,49610095,BofA-Core-Checking---0598,66.06,921.96
11,39594709060,49610094,BofA-Core-Checking---0536,60.00,0.20
12,49560492845,18031520,XXXXXX7324,1533.60,1.76
13,60568207584,22147936,X5674,1413.78,-2.53
14,60568207584,22147938,X2283,42.22,0.00